label {
	font-size: medium;
	font-weight: bold;
	margin-top: 6px;
}

h3 {
	color: #ff6969cf !important;
}
.vlist {
	font-size: large;
	margin: 5px 0;
	padding-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid rgb(108, 128, 134);
}

.vlist:last-child {
	border: none;
}

.vlist button {
	font-weight: bold;
}
